---
// Banner/announcement bar component
---

<section class="bg-dark-surface border-b border-white/5 py-2" x-data="{ bannerVisible: true }" x-show="bannerVisible" x-transition>
	<div
	  class="max-w-7xl mx-auto px-4 xl:px-0 flex items-center justify-between gap-x-2"
	>
	  <div
		class="flex w-full grow items-center gap-x-2 justify-self-center md:justify-center"
	  >
		<div
		  class="badge bg-primary text-dark"
		>
		  <img src="/icons/announcement.svg" alt="Announcement" class="h-3 shrink-0 mr-1.5" />
		  PH10
		</div>
		<div class="text-sm font-medium text-light">
		  Enjoy exclusive discounts
		</div>
	  </div>
	  <button
		class="flex h-6 w-6 cursor-pointer items-center justify-center rounded-3xl bg-white/10 p-1 transition hover:bg-white/20"
		type="button"
		aria-label="Close bar"
		@click="bannerVisible = false"
	  >
		<img src="/icons/close.svg" alt="Close" class="h-4 w-4" />
	  </button>
	</div>
</section>
