<section class="bg-dark pt-12 lg:pt-16 relative pt-52 lg:pb-16 border-t border-white/5">
	<div
	  class="max-w-7xl mx-auto px-4 xl:px-0 grid lg:grid-cols-2 lg:gap-x-20 xl:gap-x-40"
	>
	  <div></div>
	  <div class="mt-12 flex flex-col items-start lg:mt-0">
		<div
		  class="badge bg-dark-surface border border-white/10 text-light"
		>
		  Introducing TailKits Astro
		</div>
		<div
		  class="text-gradient-heading text-3xl font-bold font-heading lg:text-5xl mt-3 lg:mt-4 lg:leading-tight"
		>
		  Discover powerful advantages
		</div>
		<p
		  class="mt-3 text-sm font-medium text-gray-muted sm:w-2/3 md:w-11/12 lg:mt-4 xl:w-3/4"
		>
		  Embark on a journey of design exploration to craft extraordinary SaaS
		  experiences that captivate and convert
		</p>
		<ul class="mt-8 flex flex-col items-start gap-y-2 lg:mt-9">
		  <li class="flex items-center gap-x-4">
			<img src="/icons/check-primary.svg" alt="Included" class="h-5 w-5 shrink-0" />
			<p class="text-sm font-medium text-gray-muted">Advanced Analytics</p>
		  </li>
		  <li class="flex items-center gap-x-4">
			<img src="/icons/check-primary.svg" alt="Included" class="h-5 w-5 shrink-0" />
			<p class="text-sm font-medium text-gray-muted">
			  Seamless Integration
			</p>
		  </li>
		  <li class="flex items-center gap-x-4">
			<img src="/icons/check-primary.svg" alt="Included" class="h-5 w-5 shrink-0" />
			<p class="text-sm font-medium text-gray-muted">
			  24/7 Customer Support
			</p>
		  </li>
		  <li class="flex items-center gap-x-4">
			<img src="/icons/check-primary.svg" alt="Included" class="h-5 w-5 shrink-0" />
			<p class="text-sm font-medium text-gray-muted">
			  Intuitive User Interface
			</p>
		  </li>
		  <li class="flex items-center gap-x-4">
			<img src="/icons/check-primary.svg" alt="Included" class="h-5 w-5 shrink-0" />
			<p class="text-sm font-medium text-gray-muted">Dynamic Reporting</p>
		  </li>
		</ul>
	  </div>
	</div>
	<img
	  class="absolute left-0 top-0 h-52 w-full object-cover object-left-top lg:h-full lg:w-1/2 opacity-20 mix-blend-overlay"
	  src="https://tailkits.com/ui/iframe/assets/img/bg-linear-6.png"
	  alt="Features"
	/>
  </section>
  