---
// Footer component
const year = new Date().getFullYear();
---

<footer class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="md:flex md:items-center md:justify-between">
      <div class="mt-8 md:mt-0 md:order-1">
        <p class="text-center text-base text-slate-400">
          &copy; {year} Invent-MAG. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>