<section class="bg-dark pt-12 lg:pt-16 pb-8 md:pb-12 lg:pb-16 border-t border-white/5">
    <div class="max-w-7xl mx-auto px-4 xl:px-0">
      <div class="flex flex-col items-center">
        <p
          class="text-body text-sm font-medium leading-normal lg:leading-normal lg:text-base mt-4 text-center sm:mx-auto sm:w-2/3 md:w-1/2 xl:w-2/5"
        >
          Witness the diverse range of trusted brands that have chosen us for
          their needs, forming a tapestry of success.
        </p>
      </div>
      <div
        class="mt-6 border-b border-b-white/5 sm:mx-auto sm:w-7/12 lg:mt-12"
      ></div>
      <div
        class="mt-9 flex flex-wrap items-center justify-center gap-8 sm:gap-x-12 lg:mt-12 lg:gap-x-24"
      >
        <img class="h-8 sm:h-12 lg:h-16 brightness-0 invert opacity-50 hover:opacity-100 transition-opacity" src="https://tailkits.com/ui/iframe/assets/img/logo-1.svg" alt="Logo" />
        <img class="h-8 sm:h-12 lg:h-16 brightness-0 invert opacity-50 hover:opacity-100 transition-opacity" src="https://tailkits.com/ui/iframe/assets/img/logo-2.svg" alt="Logo" />
        <img class="h-8 sm:h-12 lg:h-16 brightness-0 invert opacity-50 hover:opacity-100 transition-opacity" src="https://tailkits.com/ui/iframe/assets/img/logo-3.svg" alt="Logo" />
        <img class="h-8 sm:h-12 lg:h-16 brightness-0 invert opacity-50 hover:opacity-100 transition-opacity" src="https://tailkits.com/ui/iframe/assets/img/logo-4.svg" alt="Logo" />
        <img class="h-8 sm:h-12 lg:h-16 brightness-0 invert opacity-50 hover:opacity-100 transition-opacity" src="https://tailkits.com/ui/iframe/assets/img/logo-5.svg" alt="Logo" />
        <img class="h-8 sm:h-12 lg:h-16 brightness-0 invert opacity-50 hover:opacity-100 transition-opacity" src="https://tailkits.com/ui/iframe/assets/img/logo-6.svg" alt="Logo" />
      </div>
    </div>
  </section>
  